<div>
  <h1>TEAMS</h1>

  <ul>
    <li (click)="selectTeam(team)" *ngFor="let team of teams$ | async">
      Team: {{team.teamName}}
    </li>
  </ul>
</div>

<div *ngIf="selectedTeam">
  <h1>USERS</h1>

  <ul>
    <li (click)="openChatWithUser(user)" *ngFor="let user of users$ | async">
      User: {{ user.firstName + ' ' + user.lastName }}
    </li>
  </ul>
</div>

<div *ngIf="selectedTeam && selectedUser">
  <h1>Messages</h1>

  <ul>
    <li *ngFor="let msg of messages$ | async"
      [ngStyle]="{'color': msg.fromUserID === currentUserID ? 'red' : 'black'}"
    >{{msg.message}}</li>
  </ul>
</div>
